doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="libs/jquery.js")
        script(src="libs/react.js")
        script(src="libs/react-dom.js")
        script(src="libs/browser.min.js")
        script(src="javascripts/index.js" type="text/babel")
    body
        div(id="root")
            div(class="div_title")
                p1 #{title}
            div(id="setting" class="div_server_setting")
            div(id="action" class="div_action_list")
            div(id="content" class="div_content_view")
