/*轮播*/
	*{
        margin:0;
        padding: 0;
        list-style: none;
    }
    /* Swipe 2 required styles */

    #lunbotu {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-wrap > div {
        float:left;
        width:100%;
        position: relative;
    }
    /* END required styles */
    .swipe-wrap img{
        width: 100%;
    }
    .yuandian {
        right:10px;
        bottom:10px;
        position: absolute;
        /*height: 40px;*/
    }
    .yuandian li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgba(0,0,0,0.3);
        float: left;
        margin-right: 10px;

    }
    .yuandian .cur{
        background:rgba(255,255,255,0.5);
    }
